# Big Mac Activities
Let's take a look at a familiar data set (the cost of big macs around the world) and analyse it using Jupyter Notebook and Pandas. This skillset will **_directly_** link to your assessment task.

Complete each activity stipulated in the comments by looking at the *even-more-python-for-beginners* provided on GitHub.

## Series
Complete the following pandas Series following the instructions in the comments:

In [2]:
import pandas as pd

#Create a pandas Series which contains 'Australia', 'Britain', 'New Zealand' and 'United States' and store them on separate lines in a variable, 'countries'. 
countries = pd.Series([
    'australia',
    'britan',
    'new zealand',
    'united states'
])


#Print the series
countries

0        australia
1           britan
2      new zealand
3    united states
dtype: object

In [ ]:
#Output Britain from the list using its index
countries[1]

In [ ]:
#Iterate through all values in countries series using a for loop
for i in countries:
    print(i)

## DataFrame
Usually we work with two-dimensional arrays. We store them using **DataFrame** in pandas. 

### Activity
Let's use a DataFrame to store more meaningful values than our countries series. Let's store the following values in a Data Frame called 'big_mac':

**Headings:** Country, Local Price, AUD Price
- `'Australia', 7.45, 7.45`
- `'Britain', 4.19, 0.0`
- `'Japan', 450, 0.0`
- `'New Zealand', 7.1, 0.0`
- `'United States', 5.58, 0.0`

**NOTE:** You'll need to look online at current rates to convert Britain, New Zealand, Japan and United States' local prices to AUD.

In [3]:
#Add a pandas DataFrame called 'big_mac' with the above values
import pandas as pd
big_mac = pd.DataFrame(
    [
    ['australia', 7.45, 7.45],
    ['britain', 4.19, 0.0],
    ['japan', 450, 0.0],
    ['new zealand', 7.1, 0.0],
    ['united states', 5.58, 0.0]
    ],
    columns = [
        'country', 'local price', 'aud price'
        ]
    )
#Print the DataFrame
big_mac

         country  local price  aud price
0      australia         7.45       7.45
1        britain         4.19       0.00
2          japan       450.00       0.00
3    new zealand         7.10       0.00
4  united states         5.58       0.00

## Examining pandas DataFrames

In [4]:
#Print only the first two rows of the big_mac dataframe
big_mac.head(2)

     country  local price  aud price
0  australia         7.45       7.45
1    britain         4.19       0.00

In [35]:
#Print only the last four rows of the big_mac dataframe
big_mac.tail(4)

         country  local price  aud price
1        britain         4.19        0.0
2          japan       450.00        0.0
3    new zealand         7.10        0.0
4  united states         5.58        0.0

In [5]:
#Print the number of rows and columns in the big_mac dataframe
big_mac.shape

(5, 3)

In [48]:
#Print some detailed information about the big_mac dataframe
big_mac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      5 non-null      object
 1   local price  5 non-null      float64
 2   aud price    5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 248.0+ bytes

## Querying DataFrames
Let's explore how we request data from a pandas DataFrame.

In [59]:
#Request and output the 'Country' and 'AUD Price' columns from the big_mac DataFrame.
big_mac[['country', 'aud price']]

         country  aud price
0      australia       7.45
1        britain       0.00
2          japan       0.00
3    new zealand       0.00
4  united states       0.00

In [63]:
#Use iloc to request the third row, all columns
big_mac.iloc[3,:]

country        new zealand
local price            7.1
aud price              0.0
Name: 3, dtype: object

In [73]:
#Use iloc to request all rows, but just the 'Country' and 'AUD Price' columns
big_mac.iloc[:,[0,2]]

         country  aud price
0      australia       7.45
1        britain       0.00
2          japan       0.00
3    new zealand       0.00
4  united states       0.00

In [75]:
#Use loc to do the same thing as the previous (Country and AUD Price all rows)
big_mac.loc[:,['country','aud price']]

         country  aud price
0      australia       7.45
1        britain       0.00
2          japan       0.00
3    new zealand       0.00
4  united states       0.00