# Big Mac CSV Activities
I have provided you with a very small amount of the original big mac data dataset in a .csv file. Use it to complete all the activities in this notebook.

In [34]:
import pandas as pd

#Read in the big_mac_aud.csv file and store it as big_mac_df. Add the headings 'Country', 'Local', 'AUD' and 'Date'
big_mac = pd.read_csv('data/big_mac_aud.csv')

#Output the big_mac_df
big_mac.columns = ['Country', 'Local', 'AUD', 'Date']
big_mac

         Country   Local   AUD       Date
0        Britain    4.19  8.05  1/07/2023
1          Japan  450.00  4.52  1/07/2023
2    New Zealand    8.10  6.50  1/07/2023
3  United States    5.58  8.50  1/07/2023

## Add More Rows

I want to add France to the above dataframe. The cost is 5.30 EUROs. You'll need to do the conversion for AUD.

For information on how to add a row to a dataframe, read through the instructions on [How to Add New Rows to a Pandas Dataframe](https://saturncloud.io/blog/how-to-add-new-rows-to-a-pandas-dataframe/)

**NOTE:** Inbetween each test, make sure to *Clear All Outputs* and *Run All* (options at the top of the screen).

In [35]:
#Create a new row as a dictionary called 'new_row'
new_row = {'Country' : 'france', 'Local' : 5.30 , 'AUD' : 8.54, 'Date': '1/07/2023'}

#Add the row to big_mac_df with either the append or loc function
big_mac.loc[len(big_mac)] = new_row

#Print the dataframe
big_mac

         Country   Local   AUD       Date
0        Britain    4.19  8.05  1/07/2023
1          Japan  450.00  4.52  1/07/2023
2    New Zealand    8.10  6.50  1/07/2023
3  United States    5.58  8.50  1/07/2023
4         france    5.30  8.54  1/07/2023

## Write to .csv File
Now that we've updated the data, let's write a new .csv file reflecting the changes. 

**NOTE:** It should not create multiple files if you keep running this, but just remember to *Clear All Outputs* inbetween each test to avoid adding France more than once.

In [36]:
#Write the big_mac_df big_mac_update.csv in the data folder. Do not include indexes.
big_mac.to_csv('data/new_bigmac.csv')